<li id="san_luis_obispo_county">
   <%= link_to san_luis_obispo_county_donations_path do %>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>San Luis Obispo County Donations
   <% end %>
</li>

<li id="santa_barbara_county">
   <%= link_to santa_barbara_county_donations_path do %>
      <i class="fa fa-users" aria-hidden="true"></i>Santa Barbara County Donations
   <% end %>
</li>
