<% region_path_name="#{params[:action]}_donations_path" %>

<div class="col-sm-12">
   <ul class="cities-list">
      <%= render all_cities_button_partial_path, region_path_name: region_path_name %>
      <% @cities.each do |city| %>
         <li class="city-item">
            <%= link_to city.city, send(region_path_name, city: city.city), :class => ("selected-item" if params[:city] == city.name) %>
         </li>
      <% end %>
   </ul>
</div>
