<div class="col-sm-12">
   <%= form_tag(send("#{region}_donations_path"), :method => "get", id: "search-form") do %>
      <i class="fa fa-search" aria-hidden="true"></i>
      <%= text_field_tag :search, params[:search], placeholder: search_placeholder, class: "form-control" %>
      <%= render city_field_partial_path %>
   <% end %>
</div>
