<h1><%= title 'My Active Donations' %></h1>
<% description 'View, edit, or delete your currently public donations.' %>
<% keywords 'Share the Food, Account Donations, Active Donations, Active, Account, Donations' %>

<h2>Click a donation to edit its details.</h2>
<div class="row" id="user-donations-list">
  <%= render @user_donations %>
  <%= render no_user_donations_partial_path %>
</div>
