<div class="container-fluid">
  <div class="col-lg-6 col-lg-offset-3">
    <h1><%= title 'My Donation History' %></h1>
    <% description 'View all past donations.' %>
    <% keywords 'Share the Food, Account History, User History, Donation History, History, Account, Donations' %>

  </div>
</div>
