<div class="container-fluid">
  <div class="col">
    <% description 'Find food donations. Add a new food donation. Create an account. Help your community!' %>
    <% keywords 'Share the Food, Home Page, View Donation, Find Donation, Add Donation, New Donation, Upload Donation, View, Find, Add, New, Upload, Donation, Create Account, New Account, Account' %>

    <div class="row">
      <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
          <h1 class="display-4">Want some food?</h1>
          <p class="lead">Anyone, no account required, can view food donations nearby!</p>
          <hr class="my-4">
          <p>Click below to view all the donations nearby.</p>
          <a class="btn btn-secondary btn-lg" href="donations" role="button">Find Donations</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
          <h1 class="display-4">Have some extra food?</h1>
          <p class="lead">Create an account to donate your food!</p>
          <hr class="my-4">
          <p>Click below to add a new donation.</p>
          <a class="btn btn-secondary btn-lg" href=<%= food_partial_path? %> role="button">Add Donation</a>
        </div>
      </div>
    </div>
