<div class="container-fluid col-lg-6 col-lg-offset-3">

  <div class="jumbotron">
    <button>
      <%= link_to 'I want some food', 'donations' %>
    </button>
  </div>

  <div class="jumbotron">
    <button>
      <%= link_to 'I have extra food', have_food_partial_path %>
    </button>
  </div>

</div>
