<div class="container-fluid col-lg-6 col-lg-offset-3">

  <div class="jumbotron">
    <button>
      <%= link_to 'I want some food', 'donations' %>
    </button>
  </div>

  <div class="jumbotron">
    <button>
      <%= link_to 'I have extra food', 'donations/new' %>
    </button>
  </div>

</div>
