<div class="container-fluid">
  <div class="col-lg-6 col-lg-offset-3">
    <h1><%= title 'View my Donations' %></h1>
    <% description 'View, edit, or delete your past and current donations.' %>
    <% keywords 'Share the Food, Account History, User History, Donation History, History, Donation' %>

    <h2>Click a donation to edit its details.</h2>
    <div class="row" id="user-donations-list">
      <%= render @user_donations %>
      <%= render no_user_donations_partial_path %>
    </div>

  </div>
</div>
