<div class="container-fluid">
  <div class="col-lg-6 col-lg-offset-3">
    <h1><%= title 'Why signup?' %></h1>
    <% description 'Why create an account? So we can make sure your donation is accountable.' %>
    <% keywords 'Share the Food, Why Signup, Signup, Create Account, Donation' %>

    <p> Here are your donations.</p>
  </div>
</div>
