<script>
  document.addEventListener("DOMContentLoaded", function() {
    initMapForList(<%= @donations.to_json.html_safe %>)
  });
</script>

<div class="container-fluid">
  <div class="row">
    <p> <div id="map3"></div> </p>
  </div>

</div>
