<div class="container col-sm-8 col-sm-offset-2">

  <div class="row">
    <%= render "donations/search_bar" %>
  </div>

  <div class="row">
    <p> TEST TITLE! </p>
  </div>

  <div class="row">
    <%= render @donations %>
    <%= render no_donations_partial_path %>
  </div>

  <div class="infinite-scroll">
    <%= will_paginate @donations %>
  </div>

</div>
