<div class="container-fluid">
  <div class="row">
    <%= render "donations/search_bar" %>
  </div>

  <div class="row" id="donations-list">
    <%= render @donations %>
    <%= render no_donations_partial_path %>
  </div>

  <div class="infinite-scroll">
    <%= will_paginate @donations %>
  </div>

</div>
