<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.GOOGLE_MAPS_API_KEY %>&callback=initMapForList" async defer>
</script>
<div class="row">
  <p> <div id="map3"></div> </p>
</div>
