<div class="container-fluid">

  <div class="row">
    <%= render "donations/search_bar" %>
  </div>
  <div class="row" id="donations-list">
    <%= render @donations %>
    <div class="infinite-scroll">
      <%= will_paginate @donations, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: ['pagination pagination-lg'] %>
    </div>
    <%= render no_donations_partial_path %>
  </div>
</div>
