<script>
  document.addEventListener("DOMContentLoaded", function(){
    initMapForEdit(<%=@donation.latitude%>, <%=@donation.longitude%>)
  });
</script>

<h1><%= title 'Edit Donation' %></h1>
<% description 'Edit the details of your donation.' %>
<% keywords 'Share the Food, Edit Donation, Redo Donation, Fix Donation, Donation Details, Edit, Redo, Fix, Details, Donation' %>

<%= render 'form' %>
