<script>
  document.addEventListener("DOMContentLoaded", function(){
    initMapForEdit(<%=@donation.latitude%>, <%=@donation.longitude%>)
  });
</script>

<div class="container-fluid edit-donation">
  <div class="col-lg-6 col-lg-offset-3">

    <h2>Edit your donation</h2>
    <%= render 'form' %>

  </div>
</div>
