<h1><%= title 'View Donations' %></h1>
<% description 'View all nearby donations.' %>
<% keywords 'Share the Food, View Donations, Find Donations, Nearby Donations, View Food, Find Food, Nearby Food, Want Food, Need Food, View, Find, Nearby' %>
<div class="row">
  <%= render 'donations/donations_map' %>
</div>
<div class="row">
  <%= render 'donations/donations_list' %>
</div>
