<div class="container new-donation">
   <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
         <h1>Create a new donation</h1>
         <%= render 'donations/new/donation_form' %>
      </div>
   </div>
</div>
