<script>
  document.addEventListener("DOMContentLoaded", function(){
    initMapForShow(<%=@donation.latitude%>, <%=@donation.longitude%>)
  });
</script>

<div id="single-donation-content" class="container">
  <div class="donated-by">Donated by <%= @donation.user.name %> </div>
  <%= render 'form' %>
</div>
