<div class="container" id="single-donation-content">
   <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
         <div class="donated-by">Donated By <%= @donation.user.name %> </div>
         <h3> <%= @donation.name %> </h3>
         <p> <%= @donation.details %> </p>
      </div>
   </div>
</div>
