<footer class="footer">
  <div class="container-fluid" align="center">
    <div class="col-lg-6 col-lg-offset-3">
      <span class="text-muted">
        Share the Food | Questions? Contact us at: contact@sharethefood.net
      </span>
    </div>
  </footer>
