<nav class="navbar navbar-default navbar-fixed-top">
   <div class="container">
      <div class="row">

         <!-- Header elements visible all the time -->
         <div class="col-sm-7">
            <%= render 'layouts/navigation/header' %>
         </div>

         <!-- Header elemnents inside collapsible list -->
         <div class="col-sm-5">
            <%= render 'layouts/navigation/collapsible_list' %>
         </div>

      </div>
   </div>
</nav>
